*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Hero section styles */
.hero-section{
    height: 90vh;
    background-image: url('../images/banner-image1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
